<mat-toolbar color="primary" class="custom-toolbar">
  <a href="/" class="custom-link">EbayAuction</a>
  <span class="fill-remaining-space"></span>
  <div>
    <a *ngIf="!authData?.isLoggedIn" routerLink="login">
      <button mat-icon-button class="account-button">
        <mat-icon
          aria-label="account icon"
          fontIcon="account_circle"
          class="account-icon"
        />
      </button>
    </a>
    <div *ngIf="authData?.isLoggedIn">
      <button mat-icon-button [matMenuTriggerFor]="menu" class="account-button">
        <mat-icon
          aria-label="account icon"
          fontIcon="account_circle"
          class="account-icon"
        />
      </button>
    </div>
    <mat-menu #menu="matMenu">
      <a class="link" routerLink="my-items">
        <button mat-menu-item>my items</button>
      </a>
      <a *ngIf="authData?.role == adminRole" class="link" routerLink="admin">
        <button mat-menu-item>control panel</button>
      </a>
      <button mat-menu-item (click)="callLogoutUser()">logout</button>
    </mat-menu>
  </div>
</mat-toolbar>
