<mat-toolbar color="primary" class="custom-toolbar">
  <a href="/" class="custom-link">EbayAuction</a>
  <span class="fill-remaining-space"></span>
  <div *ngIf="authData?.isLoggedIn">
    <button mat-button [matMenuTriggerFor]="menu">
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <div>{{ authData?.username }}</div>
        <div fxLayout="column" fxLayoutAlign="end none">
          <mat-icon>keyboard_arrow_down</mat-icon>
        </div>
      </div>
    </button>
    <mat-menu #menu="matMenu">
      <a class="link" routerLink="my-items">
        <button mat-menu-item>my items</button>
      </a>
      <a *ngIf="authData?.role == adminRole" class="link" routerLink="admin">
        <button mat-menu-item>control panel</button>
      </a>
      <button mat-menu-item (click)="callLogoutUser()">logout</button>
    </mat-menu>
  </div>
  <div *ngIf="!authData?.isLoggedIn">
    <a routerLink="login">
      <button mat-raised-button>Login</button>
    </a>
  </div>
</mat-toolbar>
