<mat-toolbar id="toolbar" color="primary">
  <div id="toolbar-left-section">
    <a href="/" class="link logo">EbayAuction</a>
  </div>
  <div id="toolbar-right-section">
    <a routerLink="/" class="link home">Home</a>
    <a *ngIf="!authData?.isLoggedIn" routerLink="login">
      <button mat-icon-button class="large-icon-button">
        <mat-icon
          aria-label="account icon"
          fontIcon="account_circle"
          class="large-icon"
        />
      </button>
    </a>
    <div *ngIf="authData?.isLoggedIn" class="account-circle">
      <button
        mat-icon-button
        [matMenuTriggerFor]="menu"
        class="large-icon-button"
      >
        <mat-icon
          aria-label="account icon"
          fontIcon="account_circle"
          class="large-icon"
        />
      </button>
    </div>
    <mat-menu #menu="matMenu">
      <div class="menu-header">
        {{ authData?.username }}
      </div>
      <a
        *ngIf="authData?.role == adminRole"
        class="menu-item link"
        routerLink="admin"
      >
        <button mat-menu-item>control panel</button>
      </a>
      <a
        *ngIf="authData?.role != adminRole"
        class="menu-item link"
        routerLink="my-items"
      >
        <button mat-menu-item>
          <mat-icon fontIcon="inventory"></mat-icon> My Items
        </button>
      </a>
      <a
        *ngIf="authData?.role != adminRole"
        class="menu-item link"
        routerLink="my-account"
      >
        <button mat-menu-item>
          <mat-icon fontIcon="person"></mat-icon>Account
        </button>
      </a>
      <button
        mat-menu-item
        class="menu-item logout-button"
        (click)="callLogoutUser()"
      >
        <mat-icon fontIcon="logout"></mat-icon>
        logout
      </button>
    </mat-menu>
  </div>
</mat-toolbar>
