@import "../../../../styles.scss";

#toolbar {
  width: 100%;
  box-shadow: 0 4px 6px -2px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#toolbar-left-section {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1.5rem;
}

#toolbar-right-section {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2.5rem;
}

.logo {
  font-size: 1.4rem;
}

.link {
  text-decoration: none;
  color: floralwhite;
}

.home {
  font-weight: 300;
  font-size: 1.25rem;
}

.large-icon-button {
  padding: 0;
}

.large-icon {
  color: floralwhite;
  font-size: 1.65rem;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

::ng-deep .mat-mdc-menu-content {
  color: $on-secondary-container;
  background-color: $secondary-container;
}

.menu-header{
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  font-weight: 500;
  display: flex;
  justify-content: center;
}

.logout-button{
  border-top: 1px solid $on-secondary-container;
}

::ng-deep .mat-mdc-menu-item{
    padding-right: 2rem;
}

::ng-deep .mat-mdc-menu-item:hover{
    color: $on-tertiary !important;
    background-color: $tertiary-color !important;

    mat-icon{
      color: inherit !important;
    }
}

::ng-deep .mat-mdc-menu-item > mat-icon{
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $on-secondary-container !important;
}