#search-body {
  display: flex;
  flex-direction: column;
  padding-top: 5rem;
  padding-bottom: 5rem;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
}

#search-box-section {
  width: 70%;
  display: flex;
  justify-content: center;
}

#items-section {
  width: 100%;
}

.search-box {
  width: 50%;
  box-sizing: border-box;
  border: 2px solid #bebebe;
}

.search-icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #bebebe;
}

.hidden-button {
  display: none;
}

.filter-button {
  margin-left: 1rem;
}

#item-boxes {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.item-box {
  /* flex-basis: 100%; */
  box-sizing: border-box;
  padding: 3rem;
  background-color: rgb(229, 229, 233);
}

@media (min-width: 768px) {
  .item-box {
    flex-basis: calc(50% - 1rem);
  }
}

#dummy-section {
  background-color: red;
  height: 100%;
}

#main-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20rem;
}

.item-title {
  display: flex;
  justify-content: center;
}

.field-wrapper {
  display: flex;
  justify-content: flex-start;
}

.field-label {
  width: 10em;
  text-align: left;
}

.field-value {
  text-align: left;
}

.item-link {
  color: black;
  text-decoration: none;
}

.paginator {
  width: 100%;
}
