<div id="search-container" fxLayout="row" fxLayoutAlign="center start" fxFill>
  <div id="search-body">
    <div id="search-box-section">
      <div class="search-box" fxLayout="row">
        <div class="search-icon-button" fxFlex="10%">
          <button mat-icon-button (click)="onSearchSubmit()">
            <mat-icon
              aria-hidden="false"
              aria-label="search icon"
              fontIcon="search"
            ></mat-icon>
          </button>
        </div>
        <form (ngSubmit)="onSearchSubmit()">
          <input
            class="search-title-input"
            placeholder="Search for item titles"
            name="search-input"
            [(ngModel)]="title"
          />
          <button class="hidden-button" type="submit"></button>
        </form>
      </div>
    </div>

    <div id="items-section" fxLayout="column">
      <div class="items-top-toolbar">
        <div class="filter-button">
          <button mat-raised-button (click)="showFiltersDialog()">
            <div>filters</div>
            <mat-icon
              aria-hidden="false"
              aria-label="Example home icon"
              fontIcon="tune"
            ></mat-icon>
          </button>
        </div>

        <mat-paginator
          #paginatorTop
          class="paginator"
          [length]="this.items.total"
          [pageSize]="this.items.limit"
          [pageSizeOptions]="[5, 10, 25, 100]"
          (page)="onPageChange($event)"
          aria-label="Select page"
        >
        </mat-paginator>
      </div>

      <div *ngIf="isLoading" class="item-boxes">
        <mat-card
          class="item-card"
          *ngFor="let i of getNumberArray(items.limit)"
        >
          <div class="item-card-main-container">
            <div class="item-card-image">
              <div class="skeleton-image"></div>
            </div>

            <div class="loading-item-card-header">
              <div class="inner-loading-item-card-header skeleton-text"></div>
            </div>

            <div class="item-content">
              <mat-card-content>
                <mat-list-item>
                  <div class="item-content-element">
                    <div
                      class="loading-current-price-label skeleton-text"
                    ></div>
                    <div
                      class="loading-current-price-value skeleton-text"
                    ></div>
                  </div>
                </mat-list-item>
                <mat-list-item>
                  <div class="item-content-element">
                    <div class="loading-final-price-label skeleton-text"></div>
                    <div class="loading-final-price-value skeleton-text"></div>
                  </div>
                </mat-list-item>
                <mat-list-item>
                  <div class="item-content-element">
                    <div class="loading-starting-bid-label skeleton-text"></div>
                    <div class="loading-starting-bid-value skeleton-text"></div>
                  </div>
                </mat-list-item>
                <mat-list-item>
                  <div class="item-content-element">
                    <div class="loading-number-bids-label skeleton-text"></div>
                    <div class="loading-number-bids-value skeleton-text"></div>
                  </div>
                </mat-list-item>
              </mat-card-content>
            </div>
          </div>
        </mat-card>
      </div>

      <div *ngIf="!isLoading" class="item-boxes">
        <mat-card
          class="item-card"
          *ngFor="let item of items.castEntities; let i = index"
        >
          <a class="item-link" routerLink="item/{{ item.itemId }}">
            <div class="item-card-main-container">
              <div class="item-card-image">
                <div class="skeleton-image" *ngIf="images[i].isLoading"></div>
                <img
                  *ngIf="!images[i].isLoading"
                  mat-card-image
                  class="item-image"
                  [src]="images[i].src"
                  alt="item photo"
                />
              </div>

              <div class="item-card-header">
                <mat-card-header>
                  <mat-card-title>
                    {{ item.name }}
                  </mat-card-title>
                </mat-card-header>
              </div>

              <div class="item-content">
                <mat-card-content>
                  <mat-list-item>
                    <div class="item-content-element">
                      <div>Current price:</div>
                      <div>{{ item.currently }}$</div>
                    </div>
                  </mat-list-item>
                  <mat-list-item>
                    <div class="item-content-element">
                      <div>Buy at:</div>
                      <div>
                        {{ item.buyPrice ? item.buyPrice + "$" : "-" }}
                      </div>
                    </div>
                  </mat-list-item>
                  <mat-list-item>
                    <div class="item-content-element">
                      <div>Starting bid:</div>
                      <div>{{ item.firstBid }}$</div>
                    </div>
                  </mat-list-item>
                  <mat-list-item>
                    <div class="item-content-element">
                      <div>Number of bids:</div>
                      <div>
                        {{ item.numBids }}
                      </div>
                    </div>
                  </mat-list-item>
                </mat-card-content>
              </div>
            </div>
          </a>
        </mat-card>
      </div>

      <mat-paginator
        #paginatorBottom
        class="paginator"
        [length]="this.items.total"
        [pageSize]="this.items.limit"
        [pageSizeOptions]="[5, 10, 25, 100]"
        (page)="onPageChange($event)"
        aria-label="Select page"
      >
      </mat-paginator>
    </div>
  </div>
</div>
