<div
  id="search-container"
  fxLayout="row"
  fxLayoutAlign="space-between none"
  fxFill
>
  <div id="left-margin" fxFlex="20%"></div>
  <div id="search-body" fxFlex="60%">
    <div id="search-box-section">
      <div class="search-box" fxLayout="row">
        <div class="search-icon-button" fxFlex="10%">
          <button mat-icon-button (click)="onSearchSubmit()">
            <mat-icon
              aria-hidden="false"
              aria-label="search icon"
              fontIcon="search"
            ></mat-icon>
          </button>
        </div>
        <div class="search-input" fxFlex="90%">
          <form (ngSubmit)="onSearchSubmit()">
            <mat-form-field>
              <mat-label>Search</mat-label>
              <input
                matInput
                placeholder="search for item titles"
                name="search-input"
                [(ngModel)]="title"
              />
            </mat-form-field>
            <button class="hidden-button" type="submit"></button>
          </form>
        </div>
      </div>
    </div>

    <div id="items-section" fxLayout="column">
      <div class="items-top-toolbar" fxLayout="row">
        <div class="filter-button">
          <button mat-raised-button (click)="showFiltersDialog()">
            <div>filters</div>
            <mat-icon
              aria-hidden="false"
              aria-label="Example home icon"
              fontIcon="tune"
            ></mat-icon>
          </button>
        </div>

        <mat-paginator
          #paginatorTop
          class="paginator"
          [length]="this.items.total"
          [pageSize]="this.items.limit"
          [pageSizeOptions]="[5, 10, 25, 100]"
          (page)="onPageChange($event)"
          aria-label="Select page"
        >
        </mat-paginator>
      </div>

      <div id="main-spinner" *ngIf="isLoading">
        <mat-spinner></mat-spinner>
      </div>

      <div *ngIf="!isLoading" id="item-boxes" fxFlex="100%" fxFill>
        <mat-card class="item-card" *ngFor="let item of items.castEntities">
          <a class="item-link" routerLink="item/{{ item.itemId }}">
            <mat-card-header>
              <mat-card-title>
                <div class="item-title">
                  <h2>{{ item.name }}</h2>
                </div></mat-card-title
              >
            </mat-card-header>
            <mat-card-content>
              <p>
                <mat-list-item>
                  <div class="field-wrapper">
                    <div class="field-label">Currently:</div>
                    <div class="field-value">{{ item.currently }}$</div>
                  </div>
                </mat-list-item>
                <mat-list-item>
                  <div class="field-wrapper">
                    <div class="field-label">BuyPrice:</div>
                    <div class="field-value">
                      {{ item.buyPrice ? item.buyPrice + "$" : "-" }}
                    </div>
                  </div>
                </mat-list-item>
                <mat-list-item>
                  <div class="field-wrapper">
                    <div class="field-label">FirstBid:</div>
                    <div class="field-value">
                      {{ item.firstBid }}
                    </div>
                  </div>
                </mat-list-item>
                <mat-list-item>
                  <div class="field-wrapper">
                    <div class="field-label">Number of bids:</div>
                    <div class="field-value">
                      {{ item.numBids }}
                    </div>
                  </div>
                </mat-list-item>
              </p>
            </mat-card-content>
          </a>
        </mat-card>
      </div>

      <mat-paginator
        #paginatorBottom
        class="paginator"
        [length]="this.items.total"
        [pageSize]="this.items.limit"
        [pageSizeOptions]="[5, 10, 25, 100]"
        (page)="onPageChange($event)"
        aria-label="Select page"
      >
      </mat-paginator>
    </div>
  </div>

  <div id="right-margin" fxFlex="20%"></div>
</div>
