#search-body {
  width: 75%;
  display: flex;
  flex-direction: column;
  padding-top: 5rem;
  padding-bottom: 5rem;
  justify-content: flex-start;
  align-items: center;
  gap: 5rem;
}

#search-box-section {
  width: 100%;
  display: flex;
  justify-content: center;
}

#items-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.items-top-toolbar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.search-box {
  width: 35%;
  box-sizing: border-box;
  border: 2px solid #bebebe;
}

.search-icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #bebebe;
}

.hidden-button {
  display: none;
}

#item-boxes {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 1rem;
  justify-content: flex-start;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.item-card {
  box-sizing: border-box;
  width: 19%;
  padding: 3rem;
  background-color: rgb(255, 255, 255);
}

.item-card:hover {
  transform: scale(1.005);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
}

mat-card-header {
  justify-content: center;
}

.card-image {
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
}

.item-image {
  overflow: hidden;
  display: block;
  width: 100%;
  max-height: 200px;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  object-position: center;
}

.item-image:hover {
  transform: scale(1.025);
  transition: 200ms transform ease-in-out;
}

#main-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20rem;
}

.item-title {
  display: flex;
  justify-content: center;
}

.field-wrapper {
  display: flex;
  justify-content: flex-start;
}

.field-label {
  width: 10em;
  text-align: left;
}

.field-value {
  text-align: left;
}

.item-link {
  color: black;
  text-decoration: none;
}

.paginator {
  width: 100%;
}

@media (max-width: 1200px) {
  #search-body {
    width: 80%;
  }

  .search-box {
    width: 50%;
  }

  .item-card {
    width: 49%;
  }
}

@media (max-width: 992px) {
  #search-body {
    width: 80%;
  }

  .search-box {
    width: 65%;
  }

  .item-card {
    width: 100%;
  }
}

@media (max-width: 768px) {
  #search-body {
    width: 90%;
  }

  .search-box {
    width: 80%;
  }

  .item-card {
    width: 100%;
  }
}
