.card-wrapper {
  height: 90%;
  width: 100%;
}

.custom-card {
  width: 100%;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  border-radius: 2%;
}

.custom-content {
  width: 50%;
}

.custom-form {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.custom-form-field {
  width: 100%;
}
