<app-common-modal>
  <div slot="title">
    <div>Edit item</div>
  </div>
  <div slot="content">
    <div id="add-item-main-container">
      <div id="add-item-content">
        <div id="add-item-form">
          <div id="add-item-form-first-part">
            <mat-form-field floatLabel="always">
              <mat-label>Title</mat-label>
              <input
                matInput
                type="text"
                placeholder="Title"
                [(ngModel)]="myItemService.editItemForm.name"
                required
              />
            </mat-form-field>
            <mat-form-field floatLabel="always">
              <mat-label>Minimum Bid</mat-label>
              <input
                matInput
                type="number"
                min="0"
                placeholder="$"
                [(ngModel)]="myItemService.editItemForm.firstBid"
                required
              />
            </mat-form-field>
            <mat-form-field floatLabel="always">
              <mat-label>Buy Price</mat-label>
              <input
                matInput
                type="number"
                [min]="
                  myItemService.editItemForm.firstBid
                    ? myItemService.editItemForm.firstBid
                    : 0
                "
                placeholder="$"
                [(ngModel)]="myItemService.editItemForm.buyPrice"
                required
              />
            </mat-form-field>
            <mat-form-field floatLabel="always" id="image-input">
              <mat-label>Image</mat-label>
              <input
                type="file"
                style="display: none"
                #fileInput
                (change)="onFileSelected($event)"
              />
              <input
                matInput
                class="file-input"
                placeholder="No file chosen"
                [matTooltip]="myItemService.editItemImageFilename"
                [matTooltipDisabled]="myItemService.editItemImageFilename == ''"
                [value]="myItemService.editItemImageFilename"
                disabled
              />
              <button
                matSuffix
                mat-icon-button
                (click)="onRemoveFile()"
                [hidden]="myItemService.editItemImageFilename == ''"
              >
                <mat-icon>close</mat-icon>
              </button>
              <button matSuffix mat-icon-button (click)="fileInput.click()">
                <mat-icon>attach_file</mat-icon>
              </button>
            </mat-form-field>
          </div>
          <div id="add-item-form-second-part">
            <app-select-categories class="full-width"> </app-select-categories>
            <mat-form-field
              floatLabel="always"
              class="add-item-form-description"
            >
              <mat-label>Description</mat-label>
              <textarea
                matInput
                type="text"
                #description
                maxlength="500"
                placeholder="Description"
                [(ngModel)]="myItemService.editItemForm.description"
                required
              ></textarea>
              <mat-hint align="end"
                >{{ description.value.length }}/500</mat-hint
              >
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div slot="action">
    <div>
      <button
        class="bottom-add-button"
        mat-raised-button
        color="accent"
        (click)="onSaveItem()"
      >
        Save
      </button>
    </div>
  </div>
</app-common-modal>
