@use "@angular/material" as mat;

@include mat.core();

// Basic styles
* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.app-root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.main-container > :first-of-type:not(router-outlet) {
  flex-grow: 1;
}

.full-width {
  width: 100%;
}

// Themes
$primary-color: #00696d; // same as mat.define-palette(mat.$cyan-palette, 900)
$secondary-color: #4a6364;
$tertiary-color: #4e5f7d;
$error: #ba1a1a;
$background: #fafdfc;
$outline: #6f7979;

$on-primary: #ffffff;
$on-secondary: #ffffff;
$on-tertiary: #ffffff;
$on-error: #ffffff;
$on-background: #191c1c;

$primary-container: #6ff6fd;
$secondary-container: #cce8e9;
$tertiary-container: #d5e3ff;
$error-container: #ffdad6;
$surface: #fafdfc;
$surface-variant: #dae4e5;
$input-container: #ececec;
$on-input-container: #191c1c;

$on-primary-container: #002021;
$on-secondary-container: #041f21;
$on-tertiary-container: #081c36;
$on-error-container: #410002;
$on-surface: #191c1c;
$on-surface-variant: #3f4949;

$dark-primary-text: rgba(black, 0.87);
$light-primary-text: white;

$analogous-palette: (
  50: #e2eff4,
  100: #b8d8e7,
  200: #8ebfd7,
  300: #68a6c7,
  400: #4c95be,
  500: #3285b5,
  600: #2779a9,
  700: #1a6899,
  800: #105988,
  900: #003d69,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
  ),
);

$my-primary: mat.define-palette(mat.$cyan-palette, 900);
$my-accent: mat.define-palette($analogous-palette, 700);

$my-theme: mat.define-light-theme(
  (
    color: (
      primary: $my-primary,
      accent: $my-accent,
    ),
    density: 0,
  )
);

@include mat.all-component-themes($my-theme);

body {
  background-color: $background;
}

mat-paginator {
  background-color: $background;
}

.mat-mdc-snack-bar-container {
  &.success-snackbar {
    --mdc-snackbar-container-color: #cce8e9;
    --mdc-snackbar-supporting-text-color: #041f21;
  }

  &.error-snackbar {
    --mdc-snackbar-container-color: #ffdad6;
    --mdc-snackbar-supporting-text-color: #410002;
  }
}

@media (min-width: 600px) {
  .mat-mdc-snack-bar-container {
    &.success-snackbar {
      margin-top: 10%;
      scale: 1.25;
    }

    &.error-snackbar {
      margin-top: 10%;
      scale: 1.25;
    }
  }
}
