@import "../../styles.scss";

#my-items-tabs {
  mat-tab-group {
    height: 100%;
  }
}

::ng-deep .mat-mdc-tab-body-wrapper {
  height: 100%;
}

#saved-items-list {
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;

  mat-card {
    width: 100%;
    font-weight: 500;
    color: $tertiary-color;
    background-color: $tertiary-container;

    .note-label {
      display: flex;
      align-items: center;
      gap: 0.3rem;

      .notification-icon {
        color: #1a6899;
      }
    }
  }
}

#add-item-section {
  width: 100%;
}

.add-item-button {
  margin-right: 1rem;
}
