@import "../../styles.scss";

#items-and-bids-main-container {
  margin-top: 5rem;
}

#my-items-tabs {
  mat-tab-group {
    height: 100%;
  }
}

::ng-deep .mat-mdc-tab-body-wrapper {
  height: 100%;
}

#saved-items-section {
  width: 100%;
  padding: 2rem 1rem;
}

#published-items-section {
  width: 100%;
  padding: 2rem 1rem;
}

#saved-items-list {
  width: 100%;
  margin: 1rem 0;

  .note-card {
    width: 100%;
    font-weight: 500;
    color: $tertiary-color;
    background-color: $tertiary-container;

    .note-label {
      display: flex;
      align-items: center;
      gap: 0.3rem;

      .notification-icon {
        color: #1a6899;
      }
    }
  }
}

#add-item-section {
  width: 100%;
}

$item-boxes-column-gap: 1rem;
$item-boxes-left-rigth-padding: 1rem;

.item-boxes {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  row-gap: 2rem;
  column-gap: $item-boxes-column-gap;
  justify-content: flex-start;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

mat-card.item-card {
  border-radius: 3%;
}

.item-card {
  box-sizing: border-box;
  width: calc(20% - $item-boxes-column-gap);
  background-color: rgb(255, 255, 255);
  overflow: hidden;
}

.item-card:nth-child(5n) {
  margin-right: 0;
}

.item-card:hover {
  transform: scale(1.005);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
  overflow: hidden;
}

.item-card-main-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

.item-card-image {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 0.5rem;
}

.item-image {
  display: block;
  width: 100%;
  max-height: 20rem;
  overflow: hidden;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  object-position: center;
}

.item-image:hover {
  transform: scale(1.025);
  transition: 200ms transform ease-in-out;
}

.skeleton-image {
  display: block;
  width: 100%;
  max-height: 20rem;
  overflow: hidden;
  aspect-ratio: 16 / 9;
  background: linear-gradient(90deg, #ecebeb 25%, #d4d4d4 50%, #f0f0f0 75%);
  background-size: 200% 100%;
  animation: image-loading 1.5s infinite reverse;
}

@keyframes image-loading {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

.item-card-header {
  width: 80%;
  display: flex;
  justify-content: flex-start;
}

.item-card-header > mat-card-header {
  padding: 0;
}

.item-content > mat-card-content {
  padding: 0;
}

.item-content mat-list-item {
  padding: 0;
}

.item-content {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.item-content,
.item-content * {
  cursor: pointer;
}

.item-content-element {
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.item-link {
  cursor: pointer;
}

.item-card-actions {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem 0.5rem 1rem;

  .delete-button {
    position: absolute;
    top: 0;
    right: 0;
  }

  .edit-button {
    background-color: rgb(210, 190, 10);
  }

  mat-icon {
    margin: 0;
    color: black;
  }
}

.published-items-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

@media (max-width: 1700px) {
  .item-card {
    width: calc(25% - $item-boxes-column-gap);
  }
}

@media (max-width: 1200px) {
  .item-card {
    width: calc(33% - $item-boxes-column-gap);
  }
}

@media (max-width: 992px) {
  .item-card {
    width: calc(50% - $item-boxes-column-gap);
  }
}

@media (max-width: 576px) {
  .item-card {
    width: 100%;
  }
}
