<div
  id="my-items-container"
  fxLayout="row"
  fxLayoutAlign="center flex-start"
  fxFill
>
  <div
    id="my-items-body"
    fxLayout="column"
    fxLayoutAlign="space-evenly center"
    fxFlex="60%"
    fxFill
  >
    <div id="my-items-tabs" fxFlex="85%" fxFill>
      <mat-tab-group (selectedTabChange)="onTabChanged($event)">
        <mat-tab label="Saved Items">
          <div
            id="saved-items-container"
            fxLayout="column"
            fxLayoutAlign="space-evenly start"
            fxFill
          >
            <div
              id="saved-items-list"
              fxLayout="row wrap"
              fxLayoutAlign="start start"
              fxFlex="50%"
              fxFill
            ></div>
            <div
              id="add-item-section"
              fxLayout="row wrap"
              fxLayoutAlign="end center"
              fxFlex="20%"
              fxFill
            >
              <button
                class="add-item-button"
                mat-fab
                color="accent"
                (click)="addItem()"
              >
                <mat-icon>add</mat-icon>
              </button>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Published"></mat-tab>
        <mat-tab label="Bids"></mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
