[mat-dialog-title] {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 9px;
}

[mat-dialog-actions] {
  padding: 1rem;
}

#dialog-content {
  padding: 0;
  color: black;
}

#item-main-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  row-gap: 1rem;
  width: 50vw;
  height: 70vh;
}

$item-box-gap: 2rem;

#item-box {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  gap: $item-box-gap;
  padding-top: 1rem;
}

.item-box-element {
  width: calc(50% - $item-box-gap);
}

.item-info {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.item-image {
  width: 100%;
  display: block;
  max-height: 20rem;
  overflow: hidden;
  aspect-ratio: 1;
  object-fit: cover;
  object-position: center;
}

.skeleton-image {
  display: block;
  width: 100%;
  max-height: 20rem;
  overflow: hidden;
  aspect-ratio: 1;
  background: linear-gradient(90deg, #ecebeb 25%, #d4d4d4 50%, #f0f0f0 75%);
  background-size: 200% 100%;
  animation: image-loading 1.5s infinite reverse;
}

@keyframes image-loading {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

.description-and-bid-section {
  width: calc(50% - $item-box-gap);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.item-description {
  height: 50%;
  font-size: 1rem;
  text-align: justify;
}

.bid-section {
  height: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.info-pair {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1600px) {
  #item-main-container {
    width: 60vw;
  }
}

@media (max-width: 1200px) {
  #item-main-container {
    width: 80vw;
  }
}

@media (max-width: 992px) {
  #item-main-container {
    min-height: 90vh;
  }

  #item-box {
    width: 70%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: $item-box-gap;
  }

  .item-box-element {
    width: 100%;
  }
}

@media (max-width: 768px) {
  #item-box {
    width: 80%;
  }
}

@media (max-width: 576px) {
  #item-box {
    width: 90%;
  }
}
