#item-main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50vw;
  height: 80vh;
}

#item-box {
  box-sizing: border-box;
  width: 50%;
  height: 70%;
  padding: 3rem;
  background-color: rgb(229, 229, 233);
}

.item-title {
  display: flex;
  justify-content: center;
}

.field-wrapper {
  display: flex;
  justify-content: flex-start;
}

.field-label {
  width: 10em;
  text-align: left;
}

.field-value {
  text-align: left;
}
