<div mat-dialog-title>
  <div id="dialog-title">
    {{ item.data.name }}
  </div>
  <div>
    <button mat-icon-button class="top-close-button" mat-dialog-close>
      <mat-icon aria-label="close icon" fontIcon="close"></mat-icon>
    </button>
  </div>
</div>
<div mat-dialog-content id="dialog-content">
  <div id="item-main-container">
    <div *ngIf="item.isLoading">
      <mat-spinner></mat-spinner>
    </div>

    <div *ngIf="!item.isLoading" id="item-box">
      <div class="item-box-element">
        <div *ngIf="image.isLoading" class="skeleton-image"></div>
        <img
          *ngIf="!image.isLoading"
          class="item-image"
          [src]="image.src"
          alt="item photo"
        />
      </div>

      <div class="item-info item-box-element">
        <div class="info-pair">
          <div class="info-label">Current price:</div>
          <div class="info-value">${{ item.data.currently }}</div>
        </div>

        <div class="info-pair">
          <div class="info-label">Buy at:</div>
          <div class="info-value">
            {{ item.data.buyPrice ? "$" + item.data.buyPrice : "-" }}
          </div>
        </div>

        <div class="info-pair">
          <div class="info-label">First Bid:</div>
          <div class="info-value">${{ item.data.firstBid }}</div>
        </div>

        <div class="info-pair">
          <div class="info-label">Number of bids:</div>
          <div class="info-value">{{ item.data.numBids }}</div>
        </div>

        <div class="info-pair">
          <div class="info-label">Started at:</div>
          <div class="info-value">{{ item.data.started }}</div>
        </div>
        <div class="info-pair">
          <div class="info-label">Ending at:</div>
          <div class="info-value">{{ item.data.ends }}</div>
        </div>
        <div class="info-pair">
          <div class="info-label">Seller:</div>
          <div class="info-value">
            {{ isOwner() ? "you" : seller.username }}
          </div>
        </div>
      </div>
      <div class="item-box-element-description">
        <div class="description-label">Description</div>
        <div class="description">
          {{ item.data.description }} Lorem ipsum dolor sit amet consectetur
          adipisicing elit. Facere optio dolorum voluptatibus quos cumque natus
          tempora, atque nemo laboriosam sint. Voluptatem qui ut, veniam magni
          aliquam labore minima quis totam dolores aliquid nemo consequatur!
          Ducimus est harum sequi illum! Dolore ipsa natus eaque maxime ducimus
          officia corporis, corrupti fugiat ab!
        </div>
      </div>
      <div class="item-box-element-description-expand">
        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header>
            <mat-panel-title> Description </mat-panel-title>
          </mat-expansion-panel-header>
          <p>
            {{ item.data.description }} Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Facere optio dolorum voluptatibus quos cumque
            natus tempora, atque nemo laboriosam sint. Voluptatem qui ut, veniam
            magni aliquam labore minima quis totam dolores aliquid nemo
            consequatur! Ducimus est harum sequi illum! Dolore ipsa natus eaque
            maxime ducimus officia corporis, corrupti fugiat ab!
          </p>
        </mat-expansion-panel>
      </div>
    </div>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-raised-button mat-dialog-close>close</button>
  <div class="bid-section" *ngIf="authData?.isLoggedIn">
    <form #bidForm="ngForm" (submit)="placeBid()">
      <div
        class="bid-form"
        [matTooltip]="isOwner() ? 'You cannot bid on your own items' : ''"
        matTooltipPosition="above"
      >
        <input
          type="number"
          name="amount"
          min="{{ item.data.currently }}"
          placeholder="${{ item.data.currently }}"
          [disabled]="isOwner()"
          ngModel
        />

        <button
          mat-raised-button
          color="accent"
          type="submit"
          [disabled]="isOwner()"
        >
          bid
        </button>
      </div>
    </form>
  </div>
</div>
