<div id="item-main-container">
  <div id="item-box">
    <div class="item-title">
      <h2>{{ item.name }}</h2>
    </div>
    <mat-list>
      <mat-list-item>
        <div class="field-wrapper">
          <div class="field-label">Current price:</div>
          <div class="field-value">{{ item.currently }}$</div>
        </div>
      </mat-list-item>
      <mat-list-item>
        <div class="field-wrapper">
          <div class="field-label">Buy at:</div>
          <div class="field-value">{{ item.buyPrice }}</div>
        </div>
      </mat-list-item>
      <mat-list-item>
        <div class="field-wrapper">
          <div class="field-label">First Bid:</div>
          <div class="field-value">{{ item.firstBid }}</div>
        </div>
      </mat-list-item>
      <mat-list-item>
        <div class="field-wrapper">
          <div class="field-label">Number of bids:</div>
          <div class="field-value">{{ item.numBids }}</div>
        </div>
      </mat-list-item>
      <mat-list-item>
        <div class="field-wrapper">
          <div class="field-label">Published at:</div>
          <div class="field-value">{{ item.started }}</div>
        </div>
      </mat-list-item>
      <mat-list-item>
        <div class="field-wrapper">
          <div class="field-label">Ending at:</div>
          <div class="field-value">{{ item.ends }}</div>
        </div>
      </mat-list-item>
      <mat-list-item>
        <div class="field-wrapper">
          <div class="field-label">Description:</div>
          <div class="field-value">{{ item.description }}</div>
        </div>
      </mat-list-item>
      <mat-list-item>
        <div class="field-wrapper">
          <div class="field-label">Seller:</div>
          <div class="field-value">{{ username }}</div>
        </div>
      </mat-list-item>
    </mat-list>
  </div>
</div>
