<div id="item-main-container">
  <div id="item-box-container">
    <div id="item-box">
      <div class="image-and-description-section">
        <img
          *ngIf="!image.isLoading"
          class="item-image"
          [src]="image.src"
          alt="item photo"
        />
        <div class="item-description">
          {{ item.description }} Lorem ipsum dolor sit amet consectetur
          adipisicing elit. Facere optio dolorum voluptatibus quos cumque natus
          tempora, atque nemo laboriosam sint. Voluptatem qui ut, veniam magni
          aliquam labore minima quis totam dolores aliquid nemo consequatur!
          Ducimus est harum sequi illum! Dolore ipsa natus eaque maxime ducimus
          officia corporis, corrupti fugiat ab!
        </div>
      </div>
      <div class="info-and-bid-section">
        <div class="item-info">
          <mat-list>
            <div mat-subheader>
              <h2>{{ item.name }}</h2>
            </div>
            <mat-list-item>
              <div class="field-wrapper">
                <div class="field-label">Current price:</div>
                <div class="field-value">{{ item.currently }}$</div>
              </div>
            </mat-list-item>
            <mat-list-item>
              <div class="field-wrapper">
                <div class="field-label">Buy at:</div>
                <div class="field-value">
                  {{ item.buyPrice ? item.buyPrice + "$" : "-" }}
                </div>
              </div>
            </mat-list-item>
            <mat-list-item>
              <div class="field-wrapper">
                <div class="field-label">First Bid:</div>
                <div class="field-value">{{ item.firstBid }}$</div>
              </div>
            </mat-list-item>
            <mat-list-item>
              <div class="field-wrapper">
                <div class="field-label">Number of bids:</div>
                <div class="field-value">{{ item.numBids }}</div>
              </div>
            </mat-list-item>
            <mat-list-item>
              <div class="field-wrapper">
                <div class="field-label">Published at:</div>
                <div class="field-value">{{ item.started }}</div>
              </div>
            </mat-list-item>
            <mat-list-item>
              <div class="field-wrapper">
                <div class="field-label">Ending at:</div>
                <div class="field-value">{{ item.ends }}</div>
              </div>
            </mat-list-item>
            <mat-list-item>
              <div class="field-wrapper">
                <div class="field-label">Seller:</div>
                <div class="field-value">{{ username }}</div>
              </div>
            </mat-list-item>
          </mat-list>
        </div>
        <div class="bid-section">
          <!-- <mat-form-field>
            <mat-label>Bid</mat-label>
            <input
              matInput
              type="number"
              min="{{ item.currently }}"
              step="0.5"
            />
          </mat-form-field> -->
        </div>
      </div>
    </div>
  </div>
</div>
