@import "../../styles.scss";

.admin-content {
  height: 80%;
  min-width: 80%;
}

.admin-content div {
  width: 100%;
}

.loading-spinner {
  display: flex;
  justify-content: center;
  padding: 10rem 0;
}

mat-paginator {
  background-color: $background;
}
