<div
  id="filters-dialog-main-container"
  fxLayout="row"
  fxFlexAlign="center center"
>
  <button mat-icon-button class="close-button" (click)="closeDialog()">
    <mat-icon
      aria-hidden="false"
      aria-label="close icon"
      fontIcon="close"
    ></mat-icon>
  </button>
  <div fxFlex="20%"></div>
  <div
    id="filters-container-content"
    fxLayout="column"
    fxLayoutAlign="space-between none"
    fxFlex="60%"
  >
    <div id="select-price-range" fxFlex="50%" fxLayout="column">
      <h2>Price range</h2>
      <mat-chip-listbox
        aria-label="price range selection"
        [(ngModel)]="selectedPriceRange"
        (change)="onPriceRangeChange($event)"
      >
        <mat-chip-option *ngFor="let range of priceRanges" [value]="range.id">{{
          range.id
        }}</mat-chip-option>
      </mat-chip-listbox>
      <div id="price-range-slider">
        <mat-slider
          min="{{ sliderMinPrice }}"
          max="{{ sliderMaxPrice }}"
          [disabled]="disabledSlider"
        >
          <input [(ngModel)]="valueMin" matSliderStartThumb />
          <input [(ngModel)]="valueMax" matSliderEndThumb />
        </mat-slider>
      </div>
      <div id="price-range-inputs" fxLayout="row">
        <div id="inner-price-range-inputs">
          <mat-form-field floatLabel="always">
            <mat-label>From</mat-label>
            <input
              matInput
              type="number"
              class="price-range-from"
              placeholder="0"
              [(ngModel)]="valueMin"
              min="0"
              max="{{ inputMaxPrice }}"
            />
            <span matTextPrefix>$&nbsp;</span>
          </mat-form-field>

          <mat-form-field floatLabel="always">
            <mat-label>To</mat-label>
            <input
              matInput
              type="number"
              class="price-range-to"
              placeholder="0"
              [(ngModel)]="valueMax"
              min="0"
              max="{{ inputMaxPrice }}"
            />
            <span matTextPrefix>$&nbsp;</span>
          </mat-form-field>
        </div>
      </div>
      <div id="select-categories" fxFlex="50%" fxLayout="column" fxFill>
        <h2>Categories</h2>
        <mat-chip-listbox class="category-chips">
          <mat-chip
            *ngFor="let category of selectedCategoryNames"
            [removable]="true"
            (removed)="removeCategory(category)"
          >
            {{ category }}
            <mat-icon matChipRemove>cancel</mat-icon>
          </mat-chip>
        </mat-chip-listbox>

        <mat-form-field>
          <mat-label>Select Categories</mat-label>
          <input
            type="text"
            placeholder="Type to search"
            matInput
            [formControl]="categoryFormControl"
            [matAutocomplete]="auto"
            (keydown.enter)="onAutocompleteEnterKeyPress()"
          />
          <mat-autocomplete
            #auto="matAutocomplete"
            (optionSelected)="onCategorySelected($event)"
          >
            <mat-option
              *ngFor="let category of filteredCategoryNames"
              [value]="category"
              >{{ category }}</mat-option
            >
          </mat-autocomplete>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div fxFlex="20%"></div>
  <button
    class="apply-filters-button"
    mat-raised-button
    color="primary"
    (click)="applyFilters()"
  >
    Apply
  </button>
</div>
