<app-common-modal>
  <div slot="title">
    <div>Filters</div>
  </div>
  <div slot="content">
    <div id="filters-dialog-main-container">
      <div id="filters-container-content">
        <div id="select-price-range" fxFlex="50%" fxLayout="column" fxFill>
          <div class="filter-label">Price range</div>
          <mat-chip-listbox
            aria-label="price range selection"
            (change)="onPriceRangeChange($event)"
          >
            <mat-chip-option
              color="accent"
              *ngFor="let range of this.filterService.priceRanges"
              [value]="range.id"
              [selected]="this.filterService.selected == range.id"
              >{{ range.id }}</mat-chip-option
            >
          </mat-chip-listbox>
          <div id="price-range-slider">
            <mat-slider
              color="accent"
              min="{{ this.filterService.sliderMinPrice }}"
              max="{{ this.filterService.sliderMaxPrice }}"
              [disabled]="this.filterService.disabledSlider"
            >
              <input
                [(ngModel)]="this.filterService.minPrice"
                matSliderStartThumb
              />
              <input
                [(ngModel)]="this.filterService.maxPrice"
                matSliderEndThumb
              />
            </mat-slider>
          </div>
          <div id="price-range-inputs" fxLayout="row">
            <mat-form-field floatLabel="always">
              <mat-label>From</mat-label>
              <input
                matInput
                type="number"
                class="price-range-from"
                placeholder="0"
                [(ngModel)]="this.filterService.minPrice"
                min="0"
                max="{{ this.filterService.maxPrice }}"
                [disabled]="!this.filterService.selected"
              />
              <span matTextPrefix>$&nbsp;</span>
            </mat-form-field>

            <mat-form-field floatLabel="always">
              <mat-label>To</mat-label>
              <input
                matInput
                type="number"
                class="price-range-to"
                placeholder="0"
                [(ngModel)]="this.filterService.maxPrice"
                min="0"
                max="{{ this.filterService.maxPrice }}"
                [disabled]="!this.filterService.selected"
              />
              <span matTextPrefix>$&nbsp;</span>
            </mat-form-field>
          </div>
        </div>
        <div id="select-categories" fxFlex="50%" fxLayout="column" fxFill>
          <div class="filter-label">Categories</div>
          <app-select-categories listOutside></app-select-categories>
        </div>
      </div>
    </div>
  </div>
  <div slot="action">
    <div>
      <button
        class="apply-filters-button"
        mat-raised-button
        color="accent"
        (click)="applyFilters()"
      >
        Apply
      </button>
    </div>
  </div>
</app-common-modal>
