#filters-dialog-main-container {
  display: flex;
  justify-content: center;
  width: 45vw;
  height: 50vh;
  padding-top: 1rem;
}

#filters-container-content {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2rem;
}

.filter-label {
  font-size: 1.15rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

#price-range-slider .mat-mdc-slider {
  width: 80%;
}

#price-range-inputs {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#price-range-inputs mat-form-field {
  width: 45%;
}

.price-range-from {
  width: 100%;
}

.price-range-to {
  width: 100%;
}

@media (max-width: 1200px) {
  #filters-dialog-main-container {
    width: 70vw;
    height: 50vh;
  }

  #filters-container-content {
    width: 70%;
  }
}

@media (max-width: 992px) {
  #filters-dialog-main-container {
    width: 70vw;
  }

  #filters-container-content {
    width: 80%;
  }
}

@media (max-width: 768px) {
  #filters-dialog-main-container {
    width: 80vw;
    height: 70vh;
  }

  #filters-container-content {
    width: 90%;
  }
}

@media (max-width: 400px) {
  #filters-dialog-main-container {
    height: 90vh;
  }
}
