#filters-dialog-main-container {
  padding: 3rem;
}

#price-range-slider .mat-mdc-slider {
  width: 80%;
}

#price-range-inputs {
  width: 100%;
}

#inner-price-range-inputs {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.price-range-from {
  margin-right: 1rem;
}

.price-range-to {
  margin-left: 1rem;
}

.category-chips {
  margin-bottom: 1rem;
}

.close-button {
  position: absolute;
  top: 3%;
  right: 3%;
}

.apply-filters-button {
  position: absolute;
  bottom: 5%;
  right: 5%;
}
