<div mat-dialog-title>
  <div class="dialog-title">Add item</div>
  <div>
    <button mat-icon-button class="top-close-button" mat-dialog-close>
      <mat-icon aria-label="close icon" fontIcon="close"></mat-icon>
    </button>
  </div>
</div>
<div mat-dialog-content>
  <div id="add-item-main-container">
    <div id="add-item-content">
      <div id="add-item-form">
        <div id="add-item-form-first-part">
          <mat-form-field floatLabel="always">
            <mat-label>Title</mat-label>
            <input
              matInput
              type="text"
              placeholder="Title"
              [(ngModel)]="myItemService.addItemForm.name"
            />
          </mat-form-field>
          <mat-form-field floatLabel="always">
            <mat-label>Minimum Bid</mat-label>
            <input
              matInput
              type="number"
              min="0"
              placeholder="$"
              [(ngModel)]="myItemService.addItemForm.firstBid"
            />
          </mat-form-field>
          <mat-form-field floatLabel="always">
            <mat-label>Buy Price</mat-label>
            <input
              matInput
              type="number"
              [min]="
                myItemService.addItemForm.firstBid
                  ? myItemService.addItemForm.firstBid
                  : 0
              "
              placeholder="$"
              [(ngModel)]="myItemService.addItemForm.buyPrice"
            />
          </mat-form-field>
          <mat-form-field floatLabel="always" id="image-input">
            <mat-label>Image</mat-label>
            <input
              type="file"
              style="display: none"
              #fileInput
              (change)="onFileSelected($event)"
            />
            <input
              matInput
              class="file-input"
              placeholder="No file chosen"
              [matTooltip]="fileName"
              [matTooltipDisabled]="fileName == ''"
              [value]="fileName"
              disabled
            />
            <button
              matSuffix
              mat-icon-button
              (click)="onRemoveFile()"
              [hidden]="fileName == ''"
            >
              <mat-icon>close</mat-icon>
            </button>
            <button matSuffix mat-icon-button (click)="fileInput.click()">
              <mat-icon>attach_file</mat-icon>
            </button>
          </mat-form-field>
        </div>
        <div id="add-item-form-second-part">
          <mat-form-field floatLabel="always">
            <mat-label>Select Categories</mat-label>
            <mat-chip-listbox class="category-chips">
              <mat-chip
                *ngFor="let category of categoryService.selectedCategories"
                [removable]="true"
                (removed)="categoryService.remove(category)"
              >
                {{ category.name }}
                <mat-icon matChipRemove>cancel</mat-icon>
              </mat-chip>
            </mat-chip-listbox>
            <input
              type="text"
              placeholder="Type to search"
              matInput
              [formControl]="categoryService.formControl"
              [matAutocomplete]="auto"
              (keydown.enter)="categoryService.onAutocompleteEnterKeyPress()"
            />
            <mat-autocomplete
              #auto="matAutocomplete"
              (optionSelected)="categoryService.onSelected($event)"
            >
              <mat-option
                *ngFor="let category of categoryService.filteredCategories"
                [value]="category.name"
                >{{ category.name }}</mat-option
              >
            </mat-autocomplete>
          </mat-form-field>
          <mat-form-field floatLabel="always">
            <mat-label>Description</mat-label>
            <textarea
              matInput
              type="text"
              #description
              maxlength="300"
              placeholder="Description"
              [(ngModel)]="myItemService.addItemForm.description"
            ></textarea>
            <mat-hint align="end">{{ description.value.length }}/300</mat-hint>
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>
  <div mat-dialog-actions>
    <div>
      <button class="bottom-close-button" mat-raised-button mat-dialog-close>
        Close
      </button>
    </div>
    <div>
      <button
        class="bottom-add-button"
        mat-raised-button
        color="accent"
        (click)="onCreateItem()"
      >
        Create
      </button>
    </div>
  </div>
</div>
